/*TYPOGRAPHY*/

body {
  font-family: "futura-pt", sans-serif;
  color: #4A4A4A;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

p {
  font-size: 18px;
  text-align: left;
}

a {
    color: #80BCA3;
    text-decoration: none;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}

h2.cardtext {
  margin: 5px 0;
}

h3.cardtext {
  margin: 0;
}
p.cardtext {
  font-size: 16px;
}

/* CONTAINER */

#mainwidth {
    width: 90%;
    max-width: 900px;
    height: auto;
    padding: 2px 20px;
    margin: 0 auto;

}

/* LAYOUT */

/**
* Create a position for the map
* on the page */
#map {
    width: 100%;
    height: 600px;
}

/**
* Set rules for how the map overlays
* (info box and legend) will be displayed
* on the page. */
.map-overlay {
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

#features {
  top: 0;
  height: 100px;
  margin-top: 20px;
  width: 250px;
}

#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 150px;
  margin-bottom: 40px;
  width: 100%;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

/* IMAGES */

img {
  max-height: 450px;
}

.graphics {
  max-width: 230px;
}

/* BUTTONS */

/* HEADER */

#header {
    display: inline-block;
}

.button {
    height: 40px;
    width: auto;
}

#nextlogo {
    margin-top: 10px;
}

#seriestitle {
    padding-top: 17px;
    float: right;
    font-weight: bold;
}
/* CARDS */

.card {
  border: 7px solid black;
  margin: 0 10px;
}

.card.bacteria {
  border-color: #80BCA3;
}

.card.mite {
  border-color: #655643;
}

.card.protozoa {
  border-color: #BF4D28;
}

.card.venom {
  border-color: #F6F7BD;
}

.card.virus {
  border-color: #3D5737;
}

.card.worm {
  border-color: #E6AC27;
}

.cardtext {
  padding: 0 10px;
}
